@import "tailwindcss";

:root {
  --background: #F9FFF8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Keep the same background in dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FFF8;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
